.marcador{
  text-align: center;
  background-color: $FondoPrincipal;
  color: $TextoPrincipal;
  &.trs{
    font-family: $Trs;
  }
  &.digital{
    font-family: $Digital;
  }
  &.square{
    font-family: $Square;
  }
  .evento{
    font-size: 1.5em;
    white-space: nowrap;
  }
  .nombre{
    width: 45%;
    float: left;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .puntos{
    width: 45%;
    float: left;
    font-size: 5em;
    color:$PuntosMarcador;
    &.trs{
      font-family: $Trs;
    }
    &.digital{
      font-family: $Digital;
    }
    &.square{
      font-family: $Square;
    }
  }
  .separadorNombre{
    width: 10%;
    float: left;
    height: 0.1em;
  }
  .separador{
    width: 10%;
    float: left;
    font-size: 5em;
    &.trs{
      font-family: $Trs;
    }
    &.digital{
      font-family: $Digital;
    }
    &.square{
      font-family: $Square;
    }
  }
  .separador:before {
   content: "-";
}
  .informacion{
    font-size: 1.25em;
  }
}
